body {
  background-color: #fafafa;
}

.container {
  margin: 0 auto;
  max-width: 1075px;
  padding: 0px 15px;
}

.bg img.background {
  position: absolute;
  object-fit: cover;
  z-index: -1;
  width: 100%;
  height: 793px;
  top: 0;
  left: 0;
}

@media (max-width: 929px) {
  .container {
    max-width: 768px;
  }
}

@media (max-width: 767px) {
  .container {
    max-width: 576px;
  }
}

@media (max-width: 575px) {
  .container {
    max-width: 100%;
  }
}
