$text-color: #252b42;
$second-text-color: #737373;
$light-color: #fff;
$secondary-color: #0d5c63;
$primary-color: #ff7b47;
$disabled-element-color: #8ec2f2;
$gray-bg: #f3f3f3;
$dark-background-color: #252b42;
