.header {
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);

  &-row {
    padding-top: 25px;
    padding-bottom: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media screen and (max-width: 1289px) {
      justify-content: center;
      gap: 200px;
    }

    @media screen and (max-width: 767px) {
      gap: 20px;
      flex-wrap: wrap;
    }
  }

  &-row__left {
    display: flex;
  }

  &__img {
    padding-right: 51px;
    width: 181px;

    @media screen and (max-width: 1289px) {
      padding-right: unset;
    }
  }

  &__list {
    display: flex;
    gap: 52px;

    li a {
      font-size: 15px;
      line-height: 1.333;
    }

    @media screen and (max-width: 1289px) {
      display: none;
    }
  }

  &__btns {
    display: flex;
    gap: 10px;
    text-align: center;
    font-family: "graphik_lcgsemibold";
    font-size: 16px;
    font-weight: 600;
    line-height: 2.7;
  }

  &-log {
    padding: 0px 35.2px;
    border: 1px solid rgba(0, 0, 0, 0.5);
  }

  &-try {
    padding: 0px 22.5px 0px 22.5px;
    background-color: $mainBtnColor;
  }
}
