// Colors
$textHoverColor: #ff6336;
$mainBtnColor: #ff6336;
$orangeBgColor: #ff9c7d;
$mainBtnHoverColor: #ff363b;
$secondaryBtnHoverColor: #36d2ff;
$possibititiesBgColor: #fff8e4;
$quoteBgColor: #c9e8f2;
$cakeBgColor: #dabc98;

// Font-size
$mainTextSize: 20px;
$secondaryTitleSize: 50px;

// ScreenWidths
$desktopWidth: 1328px;
$tabletWidth: 960px;
$landscapeWidth: 768px;
$mobileWidth: 100%;


